doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(src="https://use.fontawesome.com/07b0ce5d10.js")
    style.
       .row {
        border : 0px solid red;
        padding : 0px;
       }
       #left{
          background-color: #c3c5c9;
          height: 100%;
          margin: 0px;
          padding : 0px;
          position:fixed;
       }
       ul{
          padding : 0px;
          margin : 0px;
          list-style : none;
       }
       li {
          border : 2px solid #ededed;
          float : left;
          width : 25%;
          height : 150px;
          text-align : center;
       }
       input{
        margin-bottom : 5px;
        width: 100%;
       }
       body {
        margin : 0px;
        padding : 0px 7px;
       }
       .borderbottom{
        border-bottom : 1px solid #c3c5c9;
       }
       hr {
        border : 1px solid #ededed;
       }
       .circle {
         border-radius: 50%;
         width: 130px;
         height: 130px; 
         color : white;
         padding-top : 30%;
         text-align : center;
       }
       .text_Left {
          text-align : left;
       }
       a {
        color:gray;
       }
       #listrows {
          border-bottom: 1px solid #ededed;
          margin :0px;
       }
       @media (min-width: 768px){
       .circle-tile {
           margin-bottom: 30px;
       }
       }
       .circle-tile {
           margin-bottom: 15px;
           text-align: center;
       }
       .circle-tile-heading {
           position: relative;
           width: 80px;
           height: 80px;
           margin: 0 auto -40px;
           border: 3px solid rgba(255,255,255,0.3);
           border-radius: 100%;
           color: #fff;
           transition: all ease-in-out .3s;
       }
        .dark-blue {
            background-color: #34495e;
        }
        .green {
            background-color: #16a085;
        }

        .blue {
            background-color: #2980b9;
        }

        .orange {
            background-color: #f39c12;
        }

        .red {
            background-color: #e74c3c;
        }

        .purple {
            background-color: #8e44ad;
        }

        .dark-gray {
            background-color: #7f8c8d;
        }

        .gray {
            background-color: #95a5a6;
        }

        .light-gray {
            background-color: #bdc3c7;
        }

        .yellow {
            background-color: #f1c40f;
        }

        /* -- Text Color Helper Classes */

         .text-dark-blue {
            color: #34495e;
        }

        .text-green {
            color: #16a085;
        }

        .text-blue {
            color: #2980b9;
        }

        .text-orange {
            color: #f39c12;
        }

        .text-red {
            color: #e74c3c;
        }

        .text-purple {
            color: #8e44ad;
        }

        .text-faded {
            color: rgba(255,255,255,0.7);
        }



        .circle-tile-heading .fa {
            line-height: 80px;
        }

        .circle-tile-content {
            padding-top: 50px;
        }
        .circle-tile-description {
            text-transform: uppercase;
        }

        .text-faded {
            color: rgba(255,255,255,0.7);
        }

        .circle-tile-number {
            padding: 5px 0 15px;
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
        }

        .circle-tile-footer {
            display: block;
            padding: 5px;
            color: rgba(255,255,255,0.5);
            background-color: rgba(0,0,0,0.1);
            transition: all ease-in-out .3s;
        }

        .circle-tile-footer:hover {
            text-decoration: none;
            color: rgba(255,255,255,0.5);
            background-color: rgba(0,0,0,0.2);
        }
               
    
  body
  .row
    #left.col-sm-2
      .list-group
        a(href="/admin").list-group-item.active 서비스현황
        a(href="#").list-group-item 주문현황
        a(href="/admin/add_product").list-group-item 상품 등록
        a(href="/admin/add_productlist").list-group-item 상품 판매등록
        a(href="/admin/noticeRegister").list-group-item 공지사항 등록
    .col-sm-2
    .col-sm-10(style={margin:'0px',padding:'0px'})
      //- background:'#ededed',
      block content
        
