extends admin_layout

block content
  .row
    .col-sm-6(style={padding:'0px 30px'})
      br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 판매 진행 현황
        .row(style={padding:'20px 30px'})  
          .row(style={padding:'10px 100px'})
            .col-sm-4
              div.circle(style={background : '#10ea6e'})
                sapn.glyphicon.glyphicon-heart
                br
                label 입금확인중
                br
                label 17건
            .col-sm-4
              div.circle(style={background : '#d10478'})
                sapn.glyphicon.glyphicon-heart
                br
                label 주문접수
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#058c8c'})
                sapn.glyphicon.glyphicon-heart
                br
                label 발주확인
                br
                lasbel 2건
          .row(style={padding:'10px 100px'})
            .col-sm-4
              div.circle(style={background : '#9123ba'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고처리
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#b59809'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고지연
                br
                lasbel 2건
            .col-sm-4
              div.circle(style={background : '#1a23a5'})
                sapn.glyphicon.glyphicon-heart
                br
                label 출고완료
                br
                lasbel 2건
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label B'Store 공지사항
        .row(style={padding:'20px 30px'})
    .col-sm-6(style={padding:'0px 30px'})
      br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 판매실적 & 판매현황
        .row(style={padding:'20px 30px'})
          ul
            li
              br 
              label TODAY
              br
              hr
              label 0원
              br
            li 
              br 
              label MONTH
              br
              hr
              label 0원
              br
            li 
              br 
              label 판매상품
              br
              hr
              label 0원
              br
            li 
              br 
              label 등록된상품
              br
              hr
              label 0원
              br
      br
      br
      .row(style={background:'white',border:'1px solid #c3c5c9',padding:'0px 15px'})
        .row.borderbottom(style={padding:'0px 17px',background:'#f4f5f7'})
          label 고객 문의 현황
        .row(style={padding:'20px 30px'})  
    
