extends admin_layout
block content
    h1 상품리스트 
    .row(style={padding:'10x 30px'})
      for productList in rows
        .row(style={border:'1px solid black'})
          .col-sm-6
            .row
              .col-sm-3
                br
                br
                br  
                br
                input(type="radio", name="check_product", value=productList.pno)
              .col-sm-9
                img(src="/images/"+productList.mainimage,style={width:'60%'})
          .col-sm-6
            .row
              label 
                =productList.productname
            .row  
              label
                가격: 
                =productList.price
                
                
                
      button(type="submit", id="submit" ) 판매 등록        
      
      script.
         $(document).ready(function(){
              var $form = $('<form></form>');
                          
              $form.attr("method","post");                    
              $form.attr("action","/admin/productlist");     
              $form.appendTo('body');

            $("#submit").on("click",function(event){
              var rvalue = $(':radio[name="check_product"]:checked').val();
              var pno =  $("<input type='hidden' value="+rvalue+" name='pno'>");
              $form.append(pno);
            
              $form.submit();    
            });
         });
