extends layout

block content
    .row
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        .carousel-inner(role='listbox')
          .item.active
            img(src='/images/mainbanner.png' , alt='...')
            .carousel-caption
              | ...
          .item
            img(src='/images/mainbanner.png', alt='...')
            .carousel-caption
              | ...
          |     ...
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next

      .row
        .col-sm-4
        .col-sm-4.text-center
          hr
          p FACEBOOK BEST CODI
          hr
        .col-sm-4
      .row
      .row
      .row
        .col-sm-4
        .col-sm-4.text-center
          hr
          p BEST ITEM
          hr
        .col-sm-4

      - for productList in rows
        .col-md-3.col-sm-6
          span.thumbnail
            a(href='/product/read?pboardno='+ productList.pboardno)
              img(src='images/'+productList.mainimage, style={height:'400px'})
            h4=productList.productname
            hr 
            p=productList.content
            hr.line
            label=productList.price
            label 원
