doctype html
html
  head
    title B'Store
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')  
    script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
    
    style.  
       #box{
        position: absolute;
        width: 500px;
        height: 300px;
        left: 50%;
        top: 50%;
        margin-top: -250px;
        border: 1px solid black;
        background: white;
        z-index: 3;
       }
       input{
        margin-bottom : 5px;
        width: 100%;
    
       }
       #main_container{
          height: 1500px;
       }
       body{
          margin: 0px;
          padding : 0px;
          overflow-x:hidden;
       }
       #leftTap{
           padding: 50px;
           background-color: #353535;
           height: 100%;
           color: white;
       }
       #leftTap a{
          color: white;
       }
       #rightTap{
          margin:0px;
       }
       #listrows{
          border-bottom: 1px dotted black;
       }
    
       ul{
          padding : 0px;
          margin : 0px;
          list-style:none;
       }
       th{
          background-color : #ededed;
       }
       #trhead{
          border-top : 1px solid #b7b7b7;
       }
       .cuponBox{
          border-top : 1px solid #b7b7b7;
          border-bottom : 1px solid #b7b7b7;
          padding-top : 10px;
          padding-bottom : 10px;
       }
       .cuponinput{
          border-right : 1px solid #b7b7b7; 
       }
       .signHead {
          width: 7%;
       }
       .signStar {
          color : red;
          margin-right : 9px;
       }
       #couponMenu {
        color : white;
       
       }
       #mypageMenu1 .head{
        font-size: 28px;
       
       }
       #mypageMenu2 .head {
        font-size: 28px;
       }
       #mypageMenu3 .col-sm-6 .row{
          padding-top : 20px;
          color : white;
        
       }
       #mypageMenu3 .header{
          font-size: 28px;
       }
       .sidemenu {
        text-decoration: none;
       }
       .sidemenu ul{
          list-style: none outside none; 
          margin:0; 
          padding: 0;
       
       }
       .sidemenu li {
         font-size: 12px;
         margin-bottom : 4px;
         line-height: 20px;
          float : left;
          width : 33%;
       }
       a {
           text-decoration:none !important;
       }
       .snd ul {
         margin : 0px;
         padding : 0px;
       }
       .sns li{
          float : left;
          width : 90px;
          margin : 0px;
          padding : 0px;
       }
       .sns a {
          margin : 0px;
          padding : 0px;
          width : 100%;
          
       }
       #searchinput {
          border : none;
          outline: none;

       }
       .nav.nav-pills li a {
            color : black;  
            font-weight: bold;
       }
       .mypageMenu4head {
          font-size: 30px;
       }
       .orderlistRows {
        border-bottom : 1px solid #b7b7b7;
       }
       #leftTap{
       position:fixed;
       left:0;
       top:0;
       }
       .noticeReadPage .row{
        margin : 0px;
        padding : 0px;
       }
       .noticeReadTitle {
        font-size : 20px;
       }
       .noticeTextColor {
          color : #9b9ea3;
       }
        .inner_box{overflow:hidden;height:478px;position:relative;}
         
        #footer {margin:60px auto 0;clear:both;  font-family: 'Lato', sans-serif; font-weight:normal; }
         
         #footer .inner{overflow:hidden;position:relative;width:1200px;height:453px;margin:0 auto;*zoom:1;}
         

        .inner_box .utilMenu { clear:both;overflow:hidden;height:43px;line-height:43px;*zoom:1;color:#969696;margin:0 0 44px;  border-top:1px solid #F3F3F3;  border-bottom:1px solid #F3F3F3;}
         
        .inner_box .utilMenu li { float:left;padding:0 10px 0 10px;font-size:10px; font-weight:none;text-transform:uppercase;letter-spacing:0.05em; border-right:0px #a5a5a5 dotted; }
         
        .inner_box .utilMenu li.home{padding-left:10px;background:none;}
         
        .inner_box .utilMenu li a {color:#999;  font-family: 'Lato', sans-serif; font-size:10px; }
        .inner_box .utilMenu li a:hover {color:#000;  }
         
        .inner_box .utilMenu li.txt{float:right;text-transform:lowercase;background:none;}
         
        .inner_box .utilMenu li.txt span{text-decoration:underline;text-transform:uppercase;}
         


        .inner_box .customer {clear:both;overflow:hidden;height:180px;line-height:16px;*zoom:1;color:#626262;margin:0 0 44px;}
         
        .inner_box .customer li { float:left; border-right:1px #DADADA dotted;font-size:10px;letter-spacing:0.05em;  padding:10px; height:168px; width:275px; }
         
        .inner_box .customer li.cus01{ }
         
        .inner_box .customer li.cus01 .callno { font-size:12px;font-weight:bold;color:#333;letter-spacing:0.1em;margin-bottom:10px;}
         
        .inner_box .customer li.cus02 { font-size:11px;line-height:18px; font-family:'Nanum Gothic',돋움,Dotum;}
         
        .inner_box .customer li.cus02 .bankinfo{margin-bottom:0px; color:#333  }
         
        .inner_box .customer li.cus02 .b_txt {color:#999;}
         
        .inner_box .customer li.cus03 a {font-size:12px;  font-family: 'Lato', sans-serif; font-size:10px; }
         


        .inner_box .customer li.cus04 {width:275px; border-right:0px #a5a5a5 dotted;}
         
         
        .inner_box .customer li h3 { color:#FFFFFF;font-family: 'Lato', sans-serif; font-weight:bold;  margin-bottom:23px;padding:0;width:275px;text-align:center;height:24px;line-height:24px;border:1 #353535 solid #353535; z-index:2;  background:#353535; solid;font-size:11px;}

        .inner_box .customer li p {text-transform:uppercase;color:#626262; padding-left:10px;}
         
        .inner_box .customer li p a{text-transform:uppercase;color:#626262;}
         
        .inner_box .customer li p a:hover{color:#999;}
         
        .inner_box .customer li span{font-size:12px;color:#8f8f8f;margin-left:3px;}
         
        .inner_box .address {clear:both;overflow:hidden;padding:30px 0 0;border-top:1px #e5e5e5 solid;font-size:12px;color:#626262;line-height:25px; font-weight:normal;}
         
        .inner_box .address span{padding:0 25px 0 0;}

        .inner_box .address span a{color:#626262;}

         
        .inner_box .address span.kor-font {font-size:12px;padding:0; font-family:'Nanum Gothic',돋움,Dotum;}
         
        .kor-font {font-size:11px;padding:0; font-family:'Nanum Gothic',돋움,Dotum;}


        .inner_box .cus04 .info05 ul{ margin:0;width:275px; clear:both; }
        .inner_box .cus04 .info05 li {width:84px !important; height:45px !important;padding:0;line-height:45px !important;float:left;margin:0 0 5px 5px; border:1px #ddd solid;}
        .inner_box .cus04 .info05 li:hover{border:1px #2b2b2b solid; color:#333; }
        .inner_box .cus04 .info05 li a{ display:block;text-align:center;text-transform:uppercase; color:#878787; line-height:45px !important; font-size:10px; font-family:Roboto,'Nanum Gothic',돋움,Dotum;font-weight:400 }

        
  body
    #main_container.row
      #leftTap.col-sm-3
        .row
          a(href="/")
             h1 Bum'Store
        .row
          .col-sm-3
            - if (typeof locals.session.username == 'undefined')
                a(href= '/local/login') LOGIN
            - else 
                a(href= '/local/logout') LOGOUT
          .col-sm-3
            a(href= '/local/signUp') SIGN UP
          .col-sm-3
            a(href= '/user/order') ORDER
          .col-sm-3
            a(href= '/user/myPage') MYPAGE
        .row
          br
          a(href="/user/cartList") CART
            //- img(src="http://hehekuk.img6.kr/wizdesign/cart1.png", alt="")
          br
          br
        .row
          input(type="text",id="searchinput",name="search",style={width:'90%',background:'#353535',margin:'0px'})
          img(src="/images/search1.png", style={width:'10%',height:'25px'})
          hr(style={border:'1px solid white',margin:'0px'})
          
        .row
          br
          label CATEGORY
          br
          br
          .sidemenu
            ul
              li
                a(href='/shop/shopbrand.html?xcode=071&type=Y', onmouseover="this.innerText='신상5%'", onmouseout="this.innerText='NEW 5%'") NEW 5%
              li
                a(href='/shop/bestseller.html?xcode=BEST', onmouseover="this.innerText='베스트 50'", onmouseout="this.innerText='BEST 50'") BEST 50
              li.fly
                a(href='/shop/shopbrand.html?xcode=044&type=P', onmouseover="this.innerText='블랙스미스'", onmouseout="this.innerText='BLACKSMITH'") BLACKSMITH
              li
                a(href='/shop/shopbrand.html?xcode=054&type=X', onmouseover="this.innerText='아우터'", onmouseout="this.innerText='OUTER'") OUTER
              li
                a(href='/shop/shopbrand.html?xcode=056&type=X', onmouseover="this.innerText='상의'", onmouseout="this.innerText='TOP'") TOP
              li
                a(href='/shop/shopbrand.html?xcode=055&type=X', onmouseover="this.innerText='셔츠'", onmouseout="this.innerText='SHIRTS'") SHIRTS
              li
                a(href='/shop/shopbrand.html?xcode=056&mcode=003&type=X', onmouseover="this.innerText='니트'", onmouseout="this.innerText='KNIT'") KNIT
              li
                a(href='/shop/shopbrand.html?xcode=057&type=X', onmouseover="this.innerText='하의'", onmouseout="this.innerText='BOTTOM'") BOTTOM
              li
                a(href='/shop/shopbrand.html?xcode=003&type=X', onmouseover="this.innerText='액세서리'", onmouseout="this.innerText='ACC'") ACC
              li
                a(href='/shop/shopbrand.html?xcode=060&type=X', onmouseover="this.innerText='가방'", onmouseout="this.innerText='BAG'") BAG
              li
                a(href='/shop/shopbrand.html?xcode=058&type=X', onmouseover="this.innerText='신발'", onmouseout="this.innerText='SHOES'") SHOES
              li.red
                a(href='/shop/shopbrand.html?xcode=043&type=X', onmouseover="this.innerText='수트'", onmouseout="this.innerText='SUIT'") SUIT
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label COMMUNITY
          br
          br
          .sidemenu
              ul
                  li
                    a(href='/admin/noticeList', onmouseover="this.innerText='공지사항'", onmouseout="this.innerText='NOTICE'") NOTICE
                  li
                    a(href='/board/board.html?code=hehekuk_board1', onmouseover="this.innerText='상품문의'", onmouseout="this.innerText='Q & A'") Q & A
                  li
                    a(href='/board/power_review.html', onmouseover="this.innerText='구매후기'", onmouseout="this.innerText='REVIEW'") REVIEW
                  li
                    a(href='/board/board.html?code=hehekuk_image2', onmouseover="this.innerText='이벤트'", onmouseout="this.innerText='EVENT'") EVENT
                  li
                    a(href='/board/board.html?code=hehekuk_board5&page=1&type=v&num1=999983&num2=00000&number=12&lock=N', onmouseover="this.innerText='맴버쉽'", onmouseout="this.innerText='MEMBERSHIP'") MEMBERSHIP
                  li
                    a(href='/board/board.html?code=hehekuk_board5&page=1&type=v&num1=999988&num2=00000&number=3&lock=N&flag=notice', onmouseover="this.innerText='입고지연'", onmouseout="this.innerText='SORRY ITEM'") SORRY ITEM
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label NOTICE
          br
          br
          br
          br
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label CUSTOMER CENTER
          br
          br
          label 010-7670-5549
          br
          | MON-FRI PM 01:00-PM 06:00
          br
          | SAT.SUN.REDDAY OFF
        .row
          br
          .sns  
              ul 
                li
                  a(href='http://www.okun.co.kr/board/board.html?code=hehekuk_board5&type=v&num1=999978&num2=00000&lock=N&flag=notice')
                    img(src="/images/kakao.png",style={width:'100px',height:'50px'})
                li(style ={padding:'5px 0px'})
                  a(href='http://www.okun.co.kr/board/board.html?code=hehekuk_board5&type=v&num1=999978&num2=00000&lock=N&flag=notice')
                    img(src="/images/twitter.png",style={width:'40px',height:'40px'})
              
          
      .col-sm-3
      #rightTap.col-sm-9(style={padding:'0px 40px'})
        block content
        .row 
        #footer(style={width:'100%'})
          .inner
            .inner_box
              ul.utilMenu
                li.home
                  a(href='/index.html') home
                li
                  a(href='javascript:bottom_privacy();')
                    | PRIVACY POLICY 
                    span.kor-font [개인정보처리방침]
                li
                  a(href='javascript:view_join_terms();') AGREEMENT
                li
                  a(href='/html/info.html') shopping guide
              ul.customer
                li.cus01
                  h3 CS CENTER
                  p.callno 010-7670-5549
                  p open time / mon-fri ( pm01:00 - pm06:00 )
                  p closed hour / sat. sun. holiday off
                li.cus02
                  h3 BANK INFO
                  p 예금주 : 김범영(B'store')
                  p.bankinfo 우리 1002-743-226987
                  p.b_txt(style='margin-top:10px;') 입금자와 주문자명이 다를경우
                  p.b_txt 입금확인이 지연될 수 있습니다
                li.cus03
                  h3 MEMBERS MENU
                  p
                    a(href='/shop/idinfo.html') NEW MEMBER JOIN (+ 25,000won)
                  p
                    a(href='/shop/mypage.html?mypage_type=mywishlist') WISH LIST
                  p
                    a(href='/shop/basket.html') SHOPPING CART
                  p
                    a(href='/shop/confirm_login.html?type=myorder') ORDER LIST
                  p
                    a(href='/shop/member.html?type=myreserve') MY POINT
                li.cus04
                  h3 BORDER MENU
                  .info05
                    ul
                      li
                        a(href='/board/board.html?code=hehekuk_board5') notice
                      li
                        a(href='/board/board.html?code=hehekuk_board1') q&a
                      li
                        a(href='/board/power_review.html') review
                    ul
                      li
                        a(href='/board/board.html?code=hehekuk_image2') event
                      li
                        a(href='/shop/member.html?type=mynewmain') mypage
                      li
                        a(href='http://service.epost.go.kr/iservice/trace/Trace.jsp', target='_blank') delivery
                  // #info05
              p.address
                span
                  | company. 
                  b B'store
                span
                  | owner. 
                  span.kor-font 김범영
                span tel. 010-7670-5549
                span
                  | privacy officer. 
                  span.kor-font 김범영
                span email. okunman@naver.com
                br
                span
                  | business no. 355-04-00683  
                  a(href='http://www.ftc.go.kr/info/bizinfo/communicationList.jsp', target='_blank') [사업자정보확인]
                span mail order license. 제2017-성북구-0110호
                br
                span
                  | address. 
                  span.kor-font 서울특별시 성북구 성북동 2226 4층
                br
                span
                  | copyright(c)  
                  span B'Store
                  |  all right reserved / design by wizdesign
