doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')  
    script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
    
    style.  
       #box{
        position: absolute;
        width: 500px;
        height: 300px;
        left: 50%;
        top: 50%;
        margin-top: -250px;
        border: 1px solid black;
        background: white;
        z-index: 3;
       }
       input{
        margin-bottom : 5px;
        width: 100%;
    
       }
       #main_container{
          height: 1500px;
       }
       body{
          margin: 0px;
          padding : 0px;
       }
       #leftTap{
           padding: 50px;
           background-color: #353535;
           height: 100%;
           color: white;
       }
       #leftTap a{
          color: white;
       }
       #rightTap{
          margin:0px;
       }
       #listrows{
          border-bottom: 1px dotted black;
       }
       th{
          background-color : #ededed;
       }
       ul{
          padding : 0px;
          margin : 0px;
          list-style:none;
       }
       #trhead{
          border-top : 1px solid #b7b7b7;
       }
       .cuponBox{
          border-top : 1px solid #b7b7b7;
          border-bottom : 1px solid #b7b7b7;
          padding-top : 10px;
          padding-bottom : 10px;
       }
       .cuponinput{
          border-right : 1px solid #b7b7b7; 
       }
       .signHead {
          width: 7%;
       }
       .signStar {
          color : red;
          margin-right : 9px;
       }
       #couponMenu {
        color : white;
       
       }
       #mypageMenu1 .head{
        font-size: 28px;
       
       }
       #mypageMenu2 .head {
        font-size: 28px;
       }
       #mypageMenu3 .col-sm-6 .row{
          padding-top : 20px;
          color : white;
        
       }
       #mypageMenu3 .header{
       
          font-size: 28px;
       }
       .sidemenu {
        text-decoration: none;
       }
       .sidemenu ul{
          list-style: none outside none; 
          margin:0; 
          padding: 0;
       
       }
       .sidemenu li {
         font-size: 12px;
         margin-bottom : 4px;
         line-height: 20px;
          float : left;
          width : 33%;
       }
       a {
           text-decoration:none !important;
       }
       .snd ul {
         margin : 0px;
         padding : 0px;
       }
       .sns li{
          float : left;
          width : 90px;
          margin : 0px;
          padding : 0px;
       }
       .sns a {
          margin : 0px;
          padding : 0px;
          width : 100%;
          
       }
       #searchinput {
          border : none;
          outline: none;

       }
       .nav.nav-pills li a {
            color : black;  
            font-weight: bold;
       }

    
  body
    #main_container.row
      #leftTap.col-sm-3
        .row
          a(href="/")
             h1 Bum'Store
        .row
          .col-sm-3
            - if (typeof locals.session.username == 'undefined')
                a(href= '/local/login') LOGIN
            - else 
                a(href= '/local/logout') LOGOUT
          .col-sm-3
            a(href= '/local/signUp') SIGN UP
          .col-sm-3
            a(href= '/user/order') ORDER
          .col-sm-3
            a(href= '/user/myPage') MYPAGE
        .row
          br
          a(href="/user/cartList") CART
            //- img(src="http://hehekuk.img6.kr/wizdesign/cart1.png", alt="")
          br
          br
        .row
          input(type="text",id="searchinput",name="search",style={width:'90%',background:'#353535',margin:'0px'})
          img(src="/images/search1.png", style={width:'10%',height:'25px'})
          hr(style={border:'1px solid white',margin:'0px'})
          
        .row
          br
          label CATEGORY
          br
          br
          .sidemenu
            ul
              li
                a(href='/shop/shopbrand.html?xcode=071&type=Y', onmouseover="this.innerText='신상5%'", onmouseout="this.innerText='NEW 5%'") NEW 5%
              li
                a(href='/shop/bestseller.html?xcode=BEST', onmouseover="this.innerText='베스트 50'", onmouseout="this.innerText='BEST 50'") BEST 50
              li.fly
                a(href='/shop/shopbrand.html?xcode=044&type=P', onmouseover="this.innerText='블랙스미스'", onmouseout="this.innerText='BLACKSMITH'") BLACKSMITH
              li
                a(href='/shop/shopbrand.html?xcode=054&type=X', onmouseover="this.innerText='아우터'", onmouseout="this.innerText='OUTER'") OUTER
              li
                a(href='/shop/shopbrand.html?xcode=056&type=X', onmouseover="this.innerText='상의'", onmouseout="this.innerText='TOP'") TOP
              li
                a(href='/shop/shopbrand.html?xcode=055&type=X', onmouseover="this.innerText='셔츠'", onmouseout="this.innerText='SHIRTS'") SHIRTS
              li
                a(href='/shop/shopbrand.html?xcode=056&mcode=003&type=X', onmouseover="this.innerText='니트'", onmouseout="this.innerText='KNIT'") KNIT
              li
                a(href='/shop/shopbrand.html?xcode=057&type=X', onmouseover="this.innerText='하의'", onmouseout="this.innerText='BOTTOM'") BOTTOM
              li
                a(href='/shop/shopbrand.html?xcode=003&type=X', onmouseover="this.innerText='액세서리'", onmouseout="this.innerText='ACC'") ACC
              li
                a(href='/shop/shopbrand.html?xcode=060&type=X', onmouseover="this.innerText='가방'", onmouseout="this.innerText='BAG'") BAG
              li
                a(href='/shop/shopbrand.html?xcode=058&type=X', onmouseover="this.innerText='신발'", onmouseout="this.innerText='SHOES'") SHOES
              li.red
                a(href='/shop/shopbrand.html?xcode=043&type=X', onmouseover="this.innerText='수트'", onmouseout="this.innerText='SUIT'") SUIT
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label COMMUNITY
          br
          br
          .sidemenu
              ul
                  li
                    a(href='/board/board.html?code=hehekuk_board5', onmouseover="this.innerText='공지사항'", onmouseout="this.innerText='NOTICE'") NOTICE
                  li
                    a(href='/board/board.html?code=hehekuk_board1', onmouseover="this.innerText='상품문의'", onmouseout="this.innerText='Q & A'") Q & A
                  li
                    a(href='/board/power_review.html', onmouseover="this.innerText='구매후기'", onmouseout="this.innerText='REVIEW'") REVIEW
                  li
                    a(href='/board/board.html?code=hehekuk_image2', onmouseover="this.innerText='이벤트'", onmouseout="this.innerText='EVENT'") EVENT
                  li
                    a(href='/board/board.html?code=hehekuk_board5&page=1&type=v&num1=999983&num2=00000&number=12&lock=N', onmouseover="this.innerText='맴버쉽'", onmouseout="this.innerText='MEMBERSHIP'") MEMBERSHIP
                  li
                    a(href='/board/board.html?code=hehekuk_board5&page=1&type=v&num1=999988&num2=00000&number=3&lock=N&flag=notice', onmouseover="this.innerText='입고지연'", onmouseout="this.innerText='SORRY ITEM'") SORRY ITEM
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label NOTICE
          br
          br
          br
          br
        .row
          br
          hr(style={border:'1px solid white',margin:'0px'})
          br
        .row
          label CUSTOMER CENTER
          br
          br
          label 010-7670-5549
          br
          | MON-FRI PM 01:00-PM 06:00
          br
          | SAT.SUN.REDDAY OFF
        .row
          br
          //- .sns  
          //-     ul 
          //-       li
          //-         a(href='http://www.okun.co.kr/board/board.html?code=hehekuk_board5&type=v&num1=999978&num2=00000&lock=N&flag=notice')
          //-           img(src="/images/kakao.png",style={width:'100%'})
          //-       li
          //-         a(href='http://www.okun.co.kr/board/board.html?code=hehekuk_board5&type=v&num1=999978&num2=00000&lock=N&flag=notice')
          //-           img(src="/images/facebook.png",style={width:'100%'})
          //-       li
          //-         a(href='http://www.okun.co.kr/board/board.html?code=hehekuk_board5&type=v&num1=999978&num2=00000&lock=N&flag=notice')
          //-           img(src="/images/twitter.png",style={width:'40%'})
          //-     
          

      #rightTap.col-sm-9
        block content
