extends layout

block content
      br
      br
      br
      br
      .row
        .col-sm-4
          div
        .col-sm-4.text-center
          .col-sm-2
          .col-sm-8
            div(style={border: '3px double #f1f1f1',padding:'12px'})
              label MEMBER LOGIN
          .col-sm-2
        .col-sm-4
      br
      br
      br
      .row
        .col-sm-2
        .col-sm-8
          .row
            .col-sm-5
              .row
              form(action="/local/login" method="post")
                input(type="text" name="username",placeholder="아이디").form-control
                input(type="text" name="password" placeholder="비밀번호").form-control
                br
                input(type="submit" value="LOGIN",style={width:'100%',height:'70px',background:'white',color:'black',border:'2px solid black'} )
                br
                br
                a(href="/local/auth/facebook/login") 
                  img(src="/images/LoginWithFacebook.png",style={width:'100%',height:'60px'})
            .col-sm-1
            .col-sm-6
              .row
                label -회원가입을 하시면 더 많은 혜택을 받으실 수 있습니다.
                a(href="/local/signUp")
                  div(style={width:'100%',height:'40px',background:'black',color:'white',padding:'10px 0px'}).text-center
                      label Join Us
              br
              .row
                label -아이디 또는 비밀번호를 잊어버렸나요!
                button(type="submit",style={width:'100%',height:'40px',background:'black',color:'white'}).btn.btn-default ID/PW SEARCH
              
        .col-sm-2
      
    //- script.
    //-    $(document).ready(function(){
    //-       
    //-        
    //-     });
