extends layout

block content
  br
  br
  br
  br
  br
  h1.text-center ORDER LIST
  h3.주문할 상품
  hr(style={border:'2px solid black'})
  .row
    .col-sm-1.text-center 
      label 번호
    .col-sm-3.text-center 
      label 사진
    .col-sm-4.text-center 
      label 제품명
    .col-sm-1.text-center 
      label 수량
    .col-sm-1.text-center 
      label 가격
    .col-sm-1.text-center 
      label 배송비
    .col-sm-1.text-center 
      label 취소
  hr(style={border:'2px solid gray'})
