extends layout

block content
            br
            br
            br
            br
            .row
              .col-sm-4
                div
              .col-sm-4.text-center
                .col-sm-2
                .col-sm-8
                  div(style={border: '3px double #f1f1f1',padding:'12px'})
                    label SIGN UP
                .col-sm-2
              .col-sm-4
            br
            br
            br
            .row
              table.table.table-bordered
                tr 
                  td 
                    label.signStar *
                    label.signHead 이름
                    input(type="text",name="displayname" ,style={width:'10%'})
                tr 
                  td 
                    label.signStar *
                    label.signHead 아이디
                    input(type="text" id="username" name="username",style={width:'10%'})
                    button(type="submit",id="usernameCheckBtn", style={width:'80px ',height:'30px',background:'#6a6b6d',color:'white'}).btn.btn-default 중복확인
                    label.checkId(style={display:'none'})
                    
                tr 
                  td 
                    label.signStar *
                    label.signHead 비밀번호
                    input(type="text" name="password",style={width:'10%'})
                tr 
                  td 
                    label.signStar *
                    label.signHead 연락처
                    input(type="text" name="phoneNumber" ,style={width:'5%'})
                    label -      
                    input(type="text" name="phoneNumber" ,style={width:'5%'})
                    label -         
                    input(type="text" name="phoneNumber",style={width:'5%'}) 
                tr 
                  td 
                    label.signStar *
                    label.signHead E-mail
                    input(type="text" name ="email",style={width:'10%'})
                    label @
                    input(type="text", name ="email",style={width:'10%'})
          
            .row.text-center
                button(type="submit",id="signBtn", style={width:'20%',height:'40px',background:'black',color:'white'}).btn.btn-default 가입완료
                button(type="submit",id="cancleBtn",style={width:'20%',height:'40px',background:'#f1f1f1',color:'black'}).btn.btn-default 돌아가기
                
        
        
            
             script.
              $(document).ready(function(){
                  $('#signBtn').click(function(){
                      console.log('sign');
                  });
                  $('#cancleBtn').click(function(){
                      console.log('cancle');
                  });
                  $('#usernameCheckBtn').click(function(){
                      $.ajax({
                         url:"/local/usernameCheck", 
                         type:"post",
                         data:{
                            username: $('#username').val()
                         },
                        dataType:"text",
                        success : function(result) {
                            console.log(result);
                            if(result=='reject'){
                            console.log('111');
                                $('.checkId').val('ID가 중복되었습니다.');
                                $('.checkId').css("diplay","block");
                            }else{
                            console.log(result);
                                $('.checkId').val('사용 가능한 ID 입니다.')
                                $('.checkId').css("diplay","block");
                            }
                      }});
                  });
            
              });
      
      
