extends layout

block content
            br
            br
            br
            br
            .row
              .col-sm-4
                div
              .col-sm-4.text-center
                .col-sm-2
                .col-sm-8
                  div(style={border: '3px double #f1f1f1',padding:'12px'})
                    label SIGN UP
                .col-sm-2
              .col-sm-4
            br
            br
            br
            .row
              table.table.table-bordered
                tr 
                  td 
                    label.signStar *
                    label.signHead 이름
                    input(type="text",name="displayname" ,style={width:'10%'})
                tr 
                  td 
                    label.signStar *
                    label.signHead 아이디
                    input(type="text" id="username" name="username",style={width:'10%'})
                    button(type="submit",id="usernameCheckBtn", style={width:'80px ',height:'30px',background:'#6a6b6d',color:'white'}).btn.btn-default 중복확인
                    label.checkId(style={visibility:'hidden'}) ㅎㅎ
                    
                tr 
                  td 
                    label.signStar *
                    label.signHead 비밀번호
                    input(type="text" name="password",style={width:'10%'})
                tr 
                  td 
                    label.signStar *
                    label.signHead 연락처
                    input(type="text" name="phoneNumber1" ,style={width:'5%'})
                    label -      
                    input(type="text" name="phoneNumber2" ,style={width:'5%'})
                    label -         
                    input(type="text" name="phoneNumber3",style={width:'5%'}) 
                tr 
                  td 
                    label.signStar *
                    label.signHead E-mail
                    input(type="text" name ="email1",style={width:'10%'})
                    label @
                    input(type="text", name ="email2",style={width:'10%'})
          
            .row.text-center
                button(type="submit",id="signBtn", style={width:'20%',height:'40px',background:'black',color:'white'}).btn.btn-default 가입완료
                button(type="submit",id="cancleBtn",style={width:'20%',height:'40px',background:'#f1f1f1',color:'black'}).btn.btn-default 돌아가기
                
        
        
            
             script.
              $(document).ready(function(){
                  $('#signBtn').click(function(){
                      $.ajax({
                         url:"/local/signUp", 
                         type:"post",
                         data:{
                            displayname : $('input[name=displayname]').val(),
                            username:  $('input[name=username]').val(),
                            password :  $('input[name=password]').val(),
                            phoneNumber : $('input[name=phoneNumber1]').val()+'-'+$('input[name=phoneNumber2]').val()+'-'+$('input[name=phoneNumber3]').val(),
                            email : $('input[name=email1]')+'@'+$('input[name=email2]')
                         },
                        dataType:"text",
                        success : function(result) {
                            if(result=='success'){
                                var link = '/local/login'
                                $(location).attr('href', link);
                            }
                      }});
                  });
                  $('#cancleBtn').click(function(){
                      console.log('cancle');
                  });
                  $('#usernameCheckBtn').click(function(){
                      $.ajax({
                         url:"/local/usernameCheck", 
                         type:"post",
                         data:{
                            username: $('#username').val()
                         },
                        dataType:"text",
                        success : function(result) {
                              console.log(result);
                            if(result=='reject'){
                                $('.checkId').text('ID가 중복되었습니다.');
                                $('.checkId').css({visibility:'visible',color:'red'});
                            }else{
                                $('.checkId').text('사용가능한 ID 입니다.');
                                $('.checkId').css({visibility:'visible',color:'green'});
                            }
                      }});
                  });
            
              });
      
      
